@import url("./rating/rating.css");
@import url("./__button/header__button.css");

.header {
  display: flex;
  background-image: url("../../images/fordvferrari.jpg");
  width: 480px;
  height: 352px;
  border-bottom-left-radius: 30px;
  background-position-y: 500px;
  background-position-x: -19px;
  padding: 0;
  margin: 0;
}
