.metacritic__reviews {
  font-family: Proxima Nova, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  margin-top: 5px;
  text-align: center;
  color: #9a9bb3;
}
