.movie__button {
  width: 64px;
  height: 64px;
  border-radius: 20px;
  background-color: #fe6d8e;
  font-size: 30px;
  font-weight: 200;
  text-align: center;
  color: #ffffff;
  margin-left: 20px;
  margin-top: 20px;
}

@media (min-width: 395px) {
  .movie__button {
    margin-left: 90px;
  }
}

@media (min-width: 428px) {
  .movie__button {
    margin-left: 120px;
  }
}
