@import url("./__title/movie__title.css");
@import url("./__button/movie__button.css");
@import url("./__details/movie__details.css");
@import url("./__year/movie__year.css");
@import url("./__classification/movie__classification.css");
@import url("./__runtime/movie__runtime.css");
@import url("./__genres/movie__genres.css");
@import url("./__genre/movie__genre.css");

.movie {
  margin-left: 32px;
  display: flex;
  flex-wrap: wrap;
  margin-top: -50px;
  width: 480px;
}
