.header_the-departed {
  background-image: url(../../../images/the-departed.jpg);
  border-bottom-left-radius: 30px;
  background-position-y: 403px;
  background-position-x: -19px;
  background-size: 550px;
}
