.page {
  max-width: 480px;
  margin: 0 auto;
  padding: 56px 0 0 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}